{% extends 'scrap_layout.html' %}
{% block body %}
    <div class="container text-center">
        <form action="" method="post">
            {{ form.hidden_tag() }}
                    <div class=" mb-3">
                        {% if error_message != ""  %}
                            <p class="color-red fs-4">{{ error_message }}</p>
                        {% endif %}
                    </div>
                    <div class=" mb-3">
                        {% if form.phone.errors  %}
                            {{ form.phone(class="form-control border border-1 border-dark") }}
                            <div>
                                {% for errors in form.phone.errors %}
                                    <span class="f-open-sans fs-6 color-white">{{ errors }}</span> 
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="form-control border border-1 border-dark")}}
                        {% endif %}
                    </div>
                    <div class=" mb-3">
                        {% if form.address.errors  %}
                            {{ form.address(class="form-control border border-1 border-dark") }}
                            <div>
                                {% for errors in form.address.errors %}
                                    <span class="f-open-sans fs-6 color-white">{{ errors }}</span> 
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.address(class="form-control border border-1 border-dark")}}
                        {% endif %}
                    </div>
                    
                    <div>
                        {{ form.submit(class="btnSubmit")}}
                    </div>
        </form>
    </div>
{% endblock %}